List

What are lists ?           
List is a data type where you can store multiple items under 1 name. More technically,list act like dynamic arrays which means you can add more items on the fly.

In [ ]:
L = [20,'jessa',37.5,[1,2,34]]

Array Vs List            


*   Fixed Vs dyanmic size 
*   Convenience -> Heterogenous
*   speed of execution
*   Memory

In [ ]:
L = [1,2,3]

print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

140683999949312
140685098549488
140685098549520
140685098549552
140685098549488
140685098549520
140685098549552

Creating a list

In [ ]:
# Empty 
print([])
# 1D -> Homogenous
print([1,2,3,4,5])
# 2D -> Heterogenous
print([1,2,3,[4,5]])
# 3D -> Homogenous
print([[[1,2],[3,4]],[[5,6],[7,8]]])
# Heterogenous 
print([1,True,5.6,5+6j,'hello'])
# Using type conversion 
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'hello']
['h', 'e', 'l', 'l', 'o']

Acessing items from a list

In [ ]:
# Indexing 
L = [1,2,3,4,5]
# positive 
print(L[0])
# Negative
print(L[-3])

1
3

In [ ]:
L = [1,2,3,[4,5]]
print(L[3][-2])
print(L[3][0])

4
4

In [ ]:
L = [[[1,2],[3,4]],[[5,6],[7,8]]]

print(L[0])
print(L[1])
print(L[0][1])
print(L[0][1][0])

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]
[3, 4]
3

Slicing

In [ ]:
L = [1,2,3,4,5,6,78,9]
print(L[:])
print(L[::])
print(L[0:3])
print(L[-3:])
print(L[0::2])
print(L[-5:-2:2])
print(L[::-1])

[1, 2, 3, 4, 5, 6, 78, 9]
[1, 2, 3, 4, 5, 6, 78, 9]
[1, 2, 3]
[6, 78, 9]
[1, 3, 5, 78]
[4, 6]
[9, 78, 6, 5, 4, 3, 2, 1]

Adding items to a list

In [ ]:
# append -> last mein ja ke ek single item ko append karta hain 
L = [1,2,3,4,5]
L.append(6)
print(L)

[1, 2, 3, 4, 5, 6]

In [ ]:
# extend -> last mein - use multiple items to add 
L = [1,2,3,4,5] 
L.extend([6,7,8,9])
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
L = [1,2,3,4] 
L.append([5,6,7])
print(L)

[1, 2, 3, 4, [5, 6, 7]]

In [ ]:
L = [1,2,3]
L.extend('delhi')
print(L)

[1, 2, 3, 'd', 'e', 'l', 'h', 'i']

In [ ]:
# insert -> desired index pe add karna hain 
L = [1,2,3,4] 
L.insert(1,100)
print(L)

[1, 100, 2, 3, 4]

Editing items in a list                

List are mutable datatype

In [3]:
L = [1,2,3,4,5]

# Editing with indexing
L[-1] = 500
print(L)

# Editing with slicing
L[1:4] = [200,300,400]
print(L)

[1, 2, 3, 4, 500]
[1, 200, 300, 400, 500]

Deleting items from a list

In [5]:
# del 
L = [1,2,3,4,5]
del L 
print(L)

NameError: ignored

In [7]:
L = [1,2,3,4,5]
# indexing
del L[-1]
print(L)
# slicing
del L[1:3]
print(L)

[1, 2, 3, 4]
[1, 4]

In [8]:
# remove -> item ko value ke hisab se delete karna hain to 
L =[1,2,3,4,5]
L.remove(5)
print(L)

[1, 2, 3, 4]

In [9]:
# pop ->
L =[1,2,3,4,5]
L.pop(0)
print(L)

[2, 3, 4, 5]

In [10]:
L =[1,2,3,4,5]
L.pop()
print(L)

[1, 2, 3, 4]

In [11]:
# clear 
L =[1,2,3,4,5]
L.clear()
print(L)

[]

Operations on lists


*   Airthmetic
*   Membership

*   Loop

In [13]:
# Airthmetic (+ *)
L1 = [1,2,3,4]
L2 = [5,6,7,8]

# concatenation/Merge
print(L1+L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
print(L1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [15]:
# Membership
L1 =[1,2,3,4,5]
L2 =[1,2,3,4,[5,6]]

print(5 in L1)
print(5 not in L1)

True
False

In [17]:
print(5 in L2)
print([5,6] in L2)

False
True

In [18]:
# loop 
L1 =[1,2,3,4,5]
L2 =[1,2,3,4,[5,6]]

for i in L1:
  print(i)

1
2
3
4
5

In [20]:
L3 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in L3:
  print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

List function

In [22]:
# len/max/min/sorted
L =[2,1,5,7,0]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L))

5
0
7
[0, 1, 2, 5, 7]

In [23]:
# count
L = [1,2,1,3,4,5,1]
L.count(1)
L.count(5)

1

In [25]:
# index
L = [1,2,1,3,4,5,1,2]
L.index(5)
L.index(2) # output is first occurance

1

In [27]:
# reverse
L = [2,1,5,7,0]
# permanently reverses the list
L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [28]:
# sort (vs sorted)
L = [2,1,5,7,0]
print(L)
print(sorted(L))
print(L)
L.sort()
print(L)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [30]:
# copy -> shallow copy
L = [2,1,5,7,0]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
140621794657344
[2, 1, 5, 7, 0]
140622216889408

# List Comprehension

list comprehension provides a concise way of creating lists.

newlist = [expression for item in iterable if condition == True]

Advantage
*   more time efficient and space efficient than loops 
*   require fewer lines of code
*   transforms iterative statement into a formula

In [31]:
# add 1 to 10 numbers to a list 

L = []

for i in range(1,11):
  L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
# scaler multiplication on a vector 
v = [2,3,4]
s = 3
# hame output chahiye -> v * s [6,9,12]
print(v*s)

# loop 
x = []
for i in v:
  x.append(i*s)

print(x)

[2, 3, 4, 2, 3, 4, 2, 3, 4]
[6, 9, 12]

In [36]:
# list comprehension
[s*i for i in v]

[6, 9, 12]

In [37]:
# Add square
L = [1,2,3,4,5]

[i**2 for i in L]

[1, 4, 9, 16, 25]

In [38]:
# print all numbers divisible by 5 in the range of 1 to 50

[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [44]:
# find languages with start with letter p
languages = ['java','python','php','c','javascript']

# [i for i in languages if i.startswith('p')]
[language for language in languages if language.startswith('p')]

['python', 'php']

In [45]:
# Nested if with list comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruits exists in basket and also startswith 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [46]:
# print a (3,3) matrix using list comprehension -> nested list comprehension

[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [47]:
# cartesian products -> list comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

# 2 Ways to traverse a list

*   itemwise
*   indexwise

In [48]:
# itemwise 
L = [1,2,3,4]

for i in L:
  print(i)

1
2
3
4

In [49]:
# Indexwise -> output is -> position of index
L = [1,2,3,4]

for i in range(0,len(L)):
  print(i)

0
1
2
3

In [51]:
L = [1,2,3,4]

for i in range(0,len(L)):
  print(L[i])

1
2
3
4

# Zip

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed interior is paired together, and then the second item in each passed iterator are paired together.       
if the passed iterator have different lengths, the iterator with the least items decides the length of the new iterator.

In [53]:
# write a programm to add items of 2 lists indexwise

L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

list(zip(L1,L2))

[i + j for i, j in zip(L1,L2)]

[0, 0, 0, 0]

In [54]:
L = [1,2,print,type,input]
print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7fe552c8f130>>]

###  Disadvantage of python list 
*   slow
*   Risky Usage
*   Eats up more memory

In [55]:
# risky usage
a =[1,2,3]
b = a

print(a)
print(b)

a.append(4)
print(a)
print(b)
# Lists are mutable

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [56]:
# risky usage
a =[1,2,3]
b = a.copy()

print(a)
print(b)

a.append(4)
print(a)
print(b)
# Lists are mutable

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]