Python Fundamental

In [1]:
# python is case sensitive language
print('Hello World')

Hello World

In [3]:
print('Rohan',4.8,95,True)

Rohan 4.8 95 True

Data Type

In [8]:
# Integer 
print(8)
# 1*10^309
print(1e308)
print(1e309) # Infinite

8
1e+308
inf

In [9]:
# decimal / Float 
print(8.55)
print(1.7e308)
print(1.7e309) # Infinite

8.55
1.7e+308
inf

In [11]:
# Boolean -> is not text 
print(True)
print(False)

True
False

In [12]:
# Text / String
print('Hello World')

Hello World

In [13]:
# Complex Number 
print(5+6j)

(5+6j)

In [14]:
# List -> c -> Array

print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [15]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [16]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [17]:
# Dictionary -> key value pair
print({'name':'Rohan','gender':'male','weight':72})

{'name': 'Rohan', 'gender': 'male', 'weight': 72}

In [19]:
# type
print(type(3))
print(type('3'))
print(type(4.8))
print(type('Rohan'))
print(type([1,2,3,4,5]))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'list'>

Variables -> (They are containers for future use)

In [20]:
name = 'Rohan'
print(name)

Rohan

In [21]:
a = 5
b = 6

print(a+b)

11

In [22]:
# Dynamic typing -> python iterpreter automatically 
#  Python allows one to add an integer and a floating point number, but adding an integer to a string produces error.
a = 5 
b = "Rohan"
a+b

TypeError: ignored

In [23]:
# static typing -> variable types are known at compile time
# int a = 5

SyntaxError: ignored

In [24]:
# dynamic binding -> when type of object is determined at run time 
a = 5
print(a)
a = "Rohan"
print(a)

5
Rohan

In [25]:
# static binding -> when type of object is determined at compiled time
# int a = 5

In [26]:
a = 1
b = 2 
c = 3 
print(a,b,c)

1 2 3

In [27]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [28]:
a=b=c=5
print(a,b,c)

5 5 5

Keywords and Identifiers

In [ ]:
# keywords -> are the reserved words which have predefined meaning and functionality -> 32 words , e.g if,else,True,def,......
# compilation -> a process where you convert your code into binary language

In [29]:
# Identifiers 
# variable,function -> you can start with a digit 
name1 = "Rohan"
print(name1)
# You can use special chars -> _
first_name = "Rohan"
# Identifiers can not be keywords

Rohan

User Input

In [30]:
# static Vs Dynamic Software 

input("Enter your age")

Enter your age27

'27'

In [32]:
# take input from users and store them in a variable
fnum = input('Enter first Number')
snum = input('Enter Second Number')
print(type(fnum),type(snum))

# add the two variable
result = fnum + snum

# print the result 
print(result)

Enter first Number56
Enter Secon Number68
<class 'str'> <class 'str'>
5668

Type Conversion

In [33]:
# Implicit Vs Explicit
# Implicit type conversion is done automatically by the compiler, without being specified by the user, 
# when there is more than one data type in an expression.
print(5+5.6)
print(type(5),type(5.6))

10.6
<class 'int'> <class 'float'>

In [34]:
print (4 + '4')

TypeError: ignored

In [35]:
# explicitly defined by the user to temporarily change the datatype of a variable to some other datatype.
# explicit 
int('4')

4

In [36]:
type(int('4'))

int

In [38]:
int(4.6)

4

In [39]:
int(4+5j)

TypeError: ignored

In [40]:
# int to string 
str(5)

'5'

In [41]:
# float 
float(4)

4.0

In [44]:
# take input from users and store them in a variable
fnum = input('Enter first Number')
snum = input('Enter Second Number')

# add the two variable
result = int(fnum) + int(snum)

# print the result 
print(result)
print(type(fnum))

Enter first Number85
Enter Second Number69
154
<class 'str'>

In [46]:
# take input from users and store them in a variable
fnum = int(input('Enter first Number'))
snum = int(input('Enter Second Number'))

# add the two variable
result = fnum + snum

# print the result 
print(result)
print(type(fnum))

Enter first Number85
Enter Second Number35
120
<class 'int'>

Literals

In [49]:
# variable ko jo value milti hai usse hum literal kehte hain 

# binary literal
a = 0b010
print(a)

2

In [50]:
# octal literal 
b = 0o310
print(b)

200

In [51]:
# Hexadecimal literal
c = 0x12c
print(c)

300

In [52]:
# float literal 
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
print(1.5e2)

150.0

In [53]:
float_3 = 1.5e-3
print(1.5e-3)

0.0015

In [55]:
a = True + 4
b = False + 10
print("a:",a)
print("b:",b)

a: 5
b: 10

In [56]:
a = None 
print(a)

None