## Python Function

Let's create a function(with docstring)

In [ ]:
def is_even(num):
  """
  This function returns if a given number is odd or even 
  input - any valid integer 
  output - odd/even 
  """
  if type(num) == int:
    if num % 2 == 0:
      return 'even'
    else:
      return 'odd'  
  else:
    return 'please enter the number'

In [ ]:
# function 
for i in range(1,11):
  x = is_even(i)
  print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

2 point of view

In [ ]:
is_even('hello')

'please enter the number'

Types of Argument

*   Default Argument 
*   Positional Argument
*   Keyword Argument

In [ ]:
def power(a,b):
  return a**b

In [ ]:
power(2,3)

8

In [ ]:
power(2)
# code crash ho gaya , we require two input

TypeError: ignored

In [ ]:
def power(a = 1, b = 1):
  return a**b

# Default values indicate that the function argument will take that value if no argument value is passed during the function call

In [ ]:
power(2)

2

In [ ]:
power()

1

In [ ]:
# positional Argument 
power(2,3)

# values passed through arguments should be in the order of parameters in the function definition

8

In [ ]:
# keyword Argument 
power(b=3,a=2)

8

*args and **kwargs                       
*args and **kwargs are special Python keywords that are used to pass the variable length of arguments to a function

In [ ]:
# *args 
# allow us to pass a variable number of non - keyword arguments to a function.

def multiply(a,b,c):
  return a*b*c

# args -> in function we provide n no of inputs

In [ ]:
multiply(2,5,6)

60

In [ ]:
# agar hame eisa function banana hain jo ki kitne bhi n no of input dene se accept krr le tab hum arg ka use karte hain 

def multiply(*args):
  product = 1

  for i in args:
    product = product * i 
  return product

In [ ]:
multiply(4,5,9,8,7,6,3,2)

362880

In [ ]:
def multiply(*args):
  product = 1

  for i in args:
    product = product * i 
  print(args)
  return product  

# jab hum * ka use karte hain -> it means n no of variable , ye jo variable hain wo internally tuple mein save ho jate hain

In [ ]:
multiply(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

3628800

In [ ]:
# **kwargs
# **kwargs allows us to pass any number of keyword arguments.
# Keyword arguments mean that they contain a key-value pair, like a Python dictionary.

def display (**kwargs):

  for (key,value) in kwargs.items():
    print(key,'->',value)

In [ ]:
display(India='delhi',Srilanka='colombo',nepal='kathmandu',pakistan = 'islamabad')

India -> delhi
Srilanka -> colombo
nepal -> kathmandu
pakistan -> islamabad

How function are executed in memory ?

In [ ]:
def is_even(num):

  if type(num) == int:
    if num % 2 == 0:
      return 'even'
    else:
      return 'odd'  
print(is_even(7))      

# function execution -> run this programm in python tutor to visualize -> how internally functions are work   
# he lifetime of variables inside a function is as long as the function executes. 
# These local variables are destroyed as soon as the function returns or terminates.

odd

Without return statement

In [ ]:
L = [1,2,3]
print(L.append(4))

None

In [ ]:
print(L)

[1, 2, 3, 4]

Variable Scope

In [ ]:
def g(y):
  print(x)
  print(x+1)
x = 5 
g(x) 
print(x)

5
6
5

In [ ]:
def f(y):
    x = 1
    x += 1
    print(x)
x = 5
f(x)
print(x)

2
5

In [ ]:
def f(x):
   x = x + 1
   print('in f(x): x =', x)
   return x

x = 3
z = f(x)
print('in main program scope: z =', z)
print('in main program scope: x =', x)

in f(x): x = 4
in main program scope: z = 4
in main program scope: x = 3

Nested Function

In [ ]:
def f():
  def g():
    print('inside function g')
    f()
  g()
  print('inside function f')

In [ ]:
def g(x):
    def h():
        x = 'abc'
    x = x + 1
    print('in g(x): x =', x)
    h()
    return x

x = 3
z = g(x)

Functions are 1st class citizen            

function will act as datatype

In [2]:
# type and id 
def square(num):
  return num**2

type(square)

function

In [3]:
id(square)

140524086180544

In [4]:
# reassign
x = square
x
id(x)

140524086180544

In [6]:
x(3)
# jo square ke function hain wo abhi x ke bhi function hain

9

In [7]:
# deleting a function 
del square

In [8]:
square(3)

NameError: ignored

In [9]:
x(3)

9

In [10]:
def square(num):
  return num**2

In [13]:
# storing a function in list 
L = [1,2,3,4,square]
L

[1, 2, 3, 4, <function __main__.square(num)>]

In [12]:
L[-1](3)

9

In [15]:
# function are immutable datatype 
# how can we prove this -> set store only immutable data set if set store the function then it will be immutable

s ={square}
s

# set store function -> it means function are immutable

{<function __main__.square(num)>}

In [16]:
# returning a function 

def f():
  def x(a,b):
    return a + b 

  return x 

val = f()(3,4) 
print(val)

7

In [17]:
# function as argument 

def func_a():
  print('inside func_a')

def func_b(z):
  print('inside func_c')
  return z() 

print(func_b(func_a))

inside func_c
inside func_a
None

Benefits of using a function

*   Code Modularity
*   Code Readibility
*   Code Reusability

# Lambda Function

A Lambda function is small anonymous function.              
A Lambda function can take any number of arguments, but can only have one expression.

In [19]:
# x -> x^2

a = lambda x:x**2

In [20]:
a(14)

196

In [21]:
# x,y -> x + y 

b = lambda x,y : x + y
b(12,18)

30

Diff between lambda function and normal function         


*   No Name 

*   lambda has no return value(infact,return a function)

*   lambda is written in 1 line 
*   not reusable

Then why use lambda function                   
they are used with HOF(Higher order function)

In [22]:
# check if a string has 'a'

a = lambda s : 'a' in s 
a('hello')

False

In [23]:
from typing_extensions import OrderedDict
# odd or even 

b = lambda x: 'even' if x%2 == 0 else Odd 
b(6)

'even'

Higher order function

In [24]:
# a function that takes a function as an argument, or returns a function . 
# input mein dusre function ko recieve kare

def square(x):
  return x **2 

def cube(x):
  return x ** 3   

# transform ek higher order function hain -> kyonki usse input mein ek function mil raha hain 
def transform(f,L):
  output = [] 
  for i in L:
    output.append(f(i)) 
  print(output) 

L = [1,2,3,4,5,6,7,8,9] 
transform(square,L)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
# rather of using square/cube we use lambda function

transform(lambda x : x **3,L)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

Map               
 a function that works as an iterator to return a result after applying a function to every item of an iterable (tuple, lists, etc.)

In [26]:
# square the items of list
# map -> hum kissi bhi list ke uppar ek logic apply krr sakte hain 

list(map(lambda x : x **2 , [2,5,6,8,9,7,4,3]))

[4, 25, 36, 64, 81, 49, 16, 9]

In [29]:
# odd/even labelling of list items 
L = [1,2,3,4,5]
list(map(lambda x :'even' if x%2 == 0 else 'odd', L ))

['odd', 'even', 'odd', 'even', 'odd']

In [30]:
# fetch a name from a list of dict 

users = [
    {
        'name':'Rahul',
        'age':45,
        'gender':'male' 
     
    },
    {
        'name':'Nitish',
        'age':33,
        'gender':'male' 
    },
    {
        'name':'Ankita',
        'age':50,
        'gender':'female' 
    }
]

In [32]:
list(map(lambda users:users['name'],users))

['Rahul', 'Nitish', 'Ankita']

Filter

In [33]:
# numbers greater than 5 
L =[3,4,5,6,8,2,12]

list(filter(lambda x : x> 5, L ))

[6, 8, 12]

In [34]:
# map -> list ke harr object ke uppar logic apply karta hain
# filter -> list mein se filter karta hain logic wise

In [37]:
# fetch fruits starting with 'a'

fruits = ['apple','guava','cherry']

list(filter(lambda x : x.startswith ('a'),fruits))

['apple']

Reduce              
Reduce() is useful when you need to apply a function to an iterable and reduce it to a single cumulative value.

In [38]:
# sum of all items 
import functools

functools.reduce(lambda x,y : x+y , [1,2,3,4,5])

15

In [40]:
# find min 
functools.reduce(lambda x,y: x if x<y else y , [23,11,45,69,85,1,2])

1

In [41]:
# find max 
functools.reduce(lambda x,y: x if x>y else y , [23,11,45,69,85,1,2])

85