Tuples Sets Dictionary

# Tuples

A tuple in python is similar to list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we chane the element of a list.            

In short, a tuple is immutable list. A tuple cannot be changed in any way once it is created.              

Characterstics

*   Ordered

*   Unchaneable
*   Allow duplicate

In [2]:
# empty 
t1 =()
print(type(t1))

<class 'tuple'>

In [4]:
# create a tuple with single item 
t2 = (2)
print(type(t2))
# if we add single item in tuple -> then it would be an iteger,string
ts = ('hello')
print(type(ts))

<class 'int'>
<class 'str'>

In [5]:
t2 = (2,)
print(type(t2))
ts = ('hello',)
print(type(ts))

<class 'tuple'>
<class 'tuple'>

In [7]:
# Homogenous tuple 
t3 = (1,2,3,4,5)
print(t3)
# Heterogenous tuple
t4 = (1,2.5,True,[1,2,3])
print(t4)
# 2D tuple -> tuple within tuple
t5 = (1,2,3,(4,5,6))
print(t5)
# Using type conversion 
t6 = tuple('hello')
print(t6)

(1, 2, 3, 4, 5)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5, 6))
('h', 'e', 'l', 'l', 'o')

Accessing items         

*   Indexing
*   Slicing

In [10]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4, 5)
1
5

In [11]:
print(t3[0:4])
print(t3[-3:-1])

(1, 2, 3, 4)
(3, 4)

In [12]:
print(t3[::-1])

(5, 4, 3, 2, 1)

In [14]:
print(t5)
print(t5[-1][0])

(1, 2, 3, (4, 5, 6))
4

Editing items

In [15]:
print(t3)
t3[0] = 100
# immutable -> just like string

(1, 2, 3, 4, 5)

TypeError: ignored

Adding items

In [16]:
print(t3)
# addition is not possible

(1, 2, 3, 4, 5)

Deleting items

In [20]:
print(t3)
del t3
print(t3)
# whole tuple we can deleted

NameError: ignored

In [19]:
# some portion of tuple we cannot deleted 
print(t5)
del t5[-1]

(1, 2, 3, (4, 5, 6))

TypeError: ignored

Operation on tuples

In [22]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print(t1 + t2) # concatenate 
print(t1 * 3)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [23]:
# membership
1 in t1

True

In [24]:
# iteration 
for i in t1:
  print(i)

1
2
3
4

Tuple Function

In [27]:
# len/sum/max/min/sorted
t = (1,2,3,4)
print(len(t))
print(sum(t))
print(min(t))
print(max(t))
sorted(t,reverse=True)

4
10
1
4

[4, 3, 2, 1]

In [28]:
# count 

t = (1,2,3,4,5)
t.count(5)

1

In [30]:
# index -> ek hi item multiple times hain to pehla occurance jo hain uski index position de dega 
t.index(4)

3

Difference between lists and tuples             


*   syntax
*   Mutability
*   Speed
*   Memory 
*   Built in functionality 
*   Error prone
*  Usability

In [3]:
# speed -> Generally tuples are faster than list 
# Generally immutable datatypes are faster than mutable data types 

import time 

L = list(range(1000000))
T = tuple(range(1000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time() - start) 

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time() - start)

List time 0.2915008068084717
Tuple time 0.06050515174865723

In [8]:
# Generally list occupied more memory as compare to tuple
import sys 

L = list(range(10000))
T = tuple(range(10000))

print('list size', sys.getsizeof(L))
print('tuple size',sys.getsizeof(T))

list size 80056
tuple size 80040

In [10]:
# error prone in list 
a = [1,2,3] 
b = a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [11]:
# tuple

a = (1,2,3)
b = a 

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

In [12]:
# tuples Usability ->
# whenever we are making an application only for read me then we use tuple
# and we are making an application which is use for some changes then we use list

Special Syntax

In [13]:
# Tuple unpacking 
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [14]:
a,b = (1,2,3)
print(a,b)

ValueError: ignored

In [15]:
# swapping the values 
a = 1
b = 2 

a,b = b,a 

print(a,b)

2 1

In [16]:
a,b,*others = (1,2,3,4,5,6,7,8,9)
print(a,b)
print(others)

1 2
[3, 4, 5, 6, 7, 8, 9]

In [18]:
# Zipping tuples 
a = (1,2,3,4,5)
b = (6,7,8,9,10)

print(list(zip(a,b)))
print(tuple(zip(a,b)))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]
((1, 6), (2, 7), (3, 8), (4, 9), (5, 10))

# Sets 

A set is an unordered collection of items. Every set element is unique(No duplicate) and must be immutable (cannot be changed). However, as set itself is mutable. We can add or remove items from it.                      
sets can also be used to perform mathematical set operations like union,intersection,symmetric difference, etc.

Characteristics            
*   Unordered
*   Mutable
*   No Duplicate
*   Can't contain mutable data type

In [20]:
# empty set -> bydefault in python curlybracket goes to dictionary 
s = {}
print(type(s))

# then how to make empty set 
s = set()
print(type(s))

<class 'dict'>
<class 'set'>

In [21]:
# 1D and 2D 
s1 = {1,2,3}
print(s1)
s2  = {1,2,3,{4,5}}
print(s2)

# you cannot have a mutable datatype inside of set

{1, 2, 3}

TypeError: ignored

In [24]:
# Homogenous -> in set we cannot have duplicate, and python treat True as 1  
# sets are un-ordering

s3 = {1,'hello',4.5,True}
print(s3)
s3 = {1,'hello',6.5,True,(1,2,3)}
print(s3)

{1, 4.5, 'hello'}
{1, (1, 2, 3), 6.5, 'hello'}

In [25]:
# using type conversion -> we convert list into set 
s4 = set([1,2,3])
print(s4)

{1, 2, 3}

In [26]:
# duplicate not allowed 
s5 = {1,1,2,3,4,5,2,3,4}
print(s5)

{1, 2, 3, 4, 5}

In [27]:
# set can't have mutable item 
s6 = {1,2,[3,4]}
print(s6)

TypeError: ignored

In [28]:
# order not matter 
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

Accessing items

In [30]:
# Accessing items does not work 
s1 = {1,2,3,4,5}
s1[0]

TypeError: ignored

Adding items

In [33]:
s = {1,2,3,4}
# add -> at a time only one thing you can add 
s.add(5)
print(s)

# update -> you can add multiple things 
s.update([5,6,9,810,15])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 9, 810, 15}

Deleting items

In [36]:
# del -> you can delete full set , we cannot delete partially 
s = {1,2,3,4,5,6}
del s
print(s)

NameError: ignored

In [37]:
# discard 
s = {1,2,3,4,5}
s.discard(5)
print(s)
s.discard(50)
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [38]:
# Remove 
s.remove(4)
print(s)
s.remove(50)
print(s)

{1, 2, 3}

KeyError: ignored

In [40]:
# pop -> deleted items randomly 
s = {1,2,3,4,5,85,69,35}
s.pop()
print(s)
s.pop()
print(s)

{2, 3, 4, 5, 69, 35, 85}
{3, 4, 5, 69, 35, 85}

In [41]:
# clear -> empty set 
s.clear()
print(s)

set()

Set operation

In [42]:
# union(|)
s1 ={1,2,3,4,5,6}
s2 ={4,5,2,6,9,8,2}
s1 | s2

{1, 2, 3, 4, 5, 6, 8, 9}

In [44]:
# intersection(&) -> comman items
s1 & s2

{2, 4, 5, 6}

In [45]:
# Difference(-) 
s1 - s2

{1, 3}

In [46]:
s2 - s1

{8, 9}

In [47]:
# symmetric difference(^) -> common ko chodke sab print hoga 
s1 ^ s2

{1, 3, 8, 9}

In [48]:
# Membership test 
1 in s1

True

In [50]:
# iteration 
for i in s2:
  print(i)

2
4
5
6
8
9

Set Function

In [51]:
# len/sum/min/max/soted
s = {2,4,5,8,96,65}
print(len(s))
print(min(s))
print(max(s))
sorted(s)

6
2
96

[2, 4, 5, 8, 65, 96]

In [52]:
# union / update 
s1 ={1,2,3,4,5}
s2 ={4,5,6,7,8,9}

# s1 | s2 -> both method are same 
s1.union(s1)

{1, 2, 3, 4, 5}

In [53]:
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}

In [54]:
# intersection / intersection_update
s1 ={1,2,3,4,5}
s2 ={4,5,6,7,8,9}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8, 9}

In [55]:
# Difference / difference_update
s1 ={1,2,3,4,5}
s2 ={4,5,6,7,8,9}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8, 9}

In [56]:
# symmetric_difference/symmetric_difference_update
s1 ={1,2,3,4,5}
s2 ={4,5,6,7,8,9}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}

In [58]:
# A pair of sets which does not have any common element are called disjoint sets
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {3,4,5,6}

s1.isdisjoint(s2)

False

In [59]:
# A subset of a set A is any set B such that every element of B is also an element of A
s1.issubset(s2)

False

In [62]:
s1.issuperset(s2)

False

In [63]:
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(id(s1))

print(s2)
print(id(s2))

{1, 2, 3}
139733279683328
{1, 2, 3}
139733279681312

Frozenset                        
Frozen set is just an immutable version of a python set object

In [65]:
# create frozenset -> elements of a set can be modified at any time, elements of the frozen set remain the same after creation.
fs = frozenset([1,2,3])
fs

frozenset({1, 2, 3})

In [66]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [67]:
# frozenset 
# works -> all read function 
# doesnt works -> write operation

In [69]:
# When to use
# 2D sets possible
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

Set Comprehension

In [70]:
{ i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [74]:
{ i for i in range(1,11) if i>5}

{6, 7, 8, 9, 10}

In [73]:
{ i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

# Dictionary

Dictionary in python is a collection of keys values, used to store data values like a map which unlike other data types which hold only a single value as an element.                       
In some languages it is known as map or assosiative arrays.       

dict = {'name':'nitish','age':33,'gender':'male'}     

Characteristics

*   Mutable
*   Indexing has no meaning 
*   keys can't be duplicated 
*   keys can't be mutable items

In [76]:
 # empty dictionary 
 d = {}
 d
 
 # 1D dictionary -> homogenous dictionary -> same type of data 
 d1 =  {'name':'nitish','gender':'male'}
 print(d1)


 # with mixed keys 
 d2 = {(1,2,3,):1,'hello':'world'}
 print(d2)

{'name': 'nitish', 'gender': 'male'}
{(1, 2, 3): 1, 'hello': 'world'}

In [77]:
# 2D dictionary 
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
        'dsa': 59,
        'maths':67,
        'english':34
     }
}
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 59, 'maths': 67, 'english': 34}}

In [78]:
# using sequence and dict function 
d4 = dict([('name','nitish'),('age',32),(3,3)])
d4

{'name': 'nitish', 'age': 32, 3: 3}

In [79]:
# Duplicate keys 
d5 = {'name','nitish','name','rahul'}
d5

{'name', 'nitish', 'rahul'}

In [81]:
# mutable items as keys -> use list for key 
d6 = {'name':,'nitish',[1,2,3]:2}
d6

SyntaxError: ignored

In [83]:
# immutable items as keys -> use tuples for key 

d6 = {'name':'nitish',(1,2,3):2}
d6

{'name': 'nitish', (1, 2, 3): 2}

Accessing items

In [84]:
my_dict = {'name':'jack','age':26}
my_dict[0]

KeyError: ignored

In [87]:
# values ko fetch karne ka ek tarika hain -> to provide a key 
my_dict['name']

'jack'

In [88]:
# get function 
my_dict.get('name')

'jack'

In [96]:
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 59, 'maths': 67, 'english': 34}}

In [98]:
# fetch maths marks in 2D dictionary 

s['subjects']['maths']

67

Adding key - value pair

In [89]:
d4

{'name': 'nitish', 'age': 32, 3: 3}

In [90]:
d4['gender'] = 'male'
d4

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male'}

In [91]:
d4['weight'] = 72
d4

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

In [99]:
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 59, 'maths': 67, 'english': 34}}

In [100]:
s['subjects']['ds'] = 75
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 59, 'maths': 67, 'english': 34, 'ds': 75}}

Remove key - value pair

In [92]:
# pop
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
d.pop(3)
print(d)

{'name': 'nitish', 'age': 32, 'gender': 'male', 'weight': 72}

In [93]:
# popitem -> delete last key value pair
d.popitem()
print(d)

{'name': 'nitish', 'age': 32, 'gender': 'male'}

In [94]:
# del 
del d['name']
print(d)

{'age': 32, 'gender': 'male'}

In [95]:
# clear
d.clear()
print(d)

{}

In [101]:
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 59, 'maths': 67, 'english': 34, 'ds': 75}}

In [102]:
# delete maths
del s['subjects']['maths']
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 59, 'english': 34, 'ds': 75}}

Editing key value pair

In [103]:
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 59, 'english': 34, 'ds': 75}}

In [104]:
s['sem'] = 5
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 5,
 'subjects': {'dsa': 59, 'english': 34, 'ds': 75}}

In [105]:
s['subjects']['dsa']  = 80
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 5,
 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

Dictionary operations

*   Membership
*   Iteration

In [107]:
# In dictionary -> operation hamesha key se hi hoga 

'nitish' in s

False

In [108]:
'name' in s

True

In [109]:
d = {'name':'nitish','gender':'male','age':33}

for i in d:
  print(i,d[i])

name nitish
gender male
age 33

Dictionary Function

In [110]:
# len/sorted 
len(d)

3

In [111]:
# sorted ->  sarre keys ko sorted karega 
sorted(d)

['age', 'gender', 'name']

In [112]:
# items/keys/values 
# items -> all key - value pair in tuples 
print(d.items())

dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 33)])

In [114]:
# keys 
print(d.keys())
# values 
print(d.values())

dict_keys(['name', 'gender', 'age'])
dict_values(['nitish', 'male', 33])

In [115]:
# update 
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

Dictionary Comprehension

In [116]:
# print 1st 10 numbers and their squares 
{ i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [117]:
# Using existing dict 
distances = {'delhi':1000,'mumbai':2000,'banglore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('banglore', 3000)])

In [118]:
# convert distance from km into miles -> let factor 0.62
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'banglore': 1860.0}

In [119]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [120]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [121]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}